
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: #e0e0e0; 
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    font-size: 14px;
}

.buttn_container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
    color: white;
    cursor: pointer;
}

.create_btn {
    background-color: #4CAF50; 
}

.cancel_btn {
    background-color: #f44336; 
    display: none;
}

.task_btn {
    background-color: #2196F3; 
    display: none;
}


