
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: #e0e0e0; 
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
}


form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    font-size: 14px;
}

.input_alert{
    margin:0px;
    position:relative;
}

.input_alert p{
    font-size: 10px;
    color:#f44336;
    position: absolute;
    bottom: 1px;
    left: 2px;
}

.title_alert{
    display: none;
}

.description_alert{
    display: none;
}

.buttn_container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
    color: white;
    cursor: pointer;
}

.create_btn {
    background-color: #4CAF50; 
}

.cancel_btn {
    background-color: #f44336;   
}

/* .cancelEdit_btn{
    display: none;
}

.updateTask_btn{
   display: none;
} */

.task_btn {
    background-color: #2196F3; 
}

.model{
    background-color: #FFFFFF; 
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; 
    display: none;
}

.model button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
    color: white;
    cursor: pointer;
}

.save_task_model{
    background-color: #FFFFFF; 
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; 
    display: none;
}


