* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--hue: 223;
	--white: hsl(var(--hue) 0% 100%);
	--gray50: hsl(var(--hue) 10% 95%);
	--gray300: hsl(var(--hue) 10% 70%);
	--gray400: hsl(var(--hue) 10% 60%);
	--gray500: hsl(var(--hue) 10% 50%);
	--gray600: hsl(var(--hue) 10% 40%);
	--gray800: hsl(var(--hue) 10% 20%);
	--gray950: hsl(var(--hue) 10% 5%);
	--danger400: hsl(3 90% 60%);
	--trans-dur: 0.3s;
	--trans-timing: cubic-bezier(0.65, 0, 0.35, 1);
	color-scheme: light dark;
	font-size: 16px;
}

.main__container{
    background-color: light-dark(var(--gray50), var(--gray950));
    color: light-dark(var(--gray950), var(--gray50));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    padding-top: 20px;

}

button {
	-webkit-tap-highlight-color: transparent;
	-webkit-appearance: none;
	appearance: none;
}

svg {
	display: block;
}

.searchbar{
   width: 30rem;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    gap: 4px;
    z-index: 100;
    padding: 10px;
    background:white;
    border-radius: 100px;

}

.search_task{
    cursor: pointer;
}

input{
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
   outline: none;
}

#cards__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
}

.card__container{
    position: relative;
    overflow: hidden;
    width:400px;
}

.card__details{
    position: relative;
    z-index: 10;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    
}

.card{
    max-width: 400px;
    padding:10px;
    display: flex;
    gap: 10px;
    transition: transform 0.0s ease;
    cursor: pointer;
    border-radius: 10px;
    background-color:white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.card__content{
    display: flex;
    flex-direction: column;
    gap:6px;
    flex: 1;
}

.message{
    font-size: 1rem;
}

.icon{
    width:25px;
    height: 25px;
    
}

.icon__container{
    width: 50px;
    height: 50px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: purple;
}

.time{
    color: gray;
}

.actions__container{
    padding:10px; 
    width: 100px;
    height: 100%; 
    position: absolute;
    right: 0;
    top: 0; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: flex-end;
    align-items:center;
    background-color: red;  
}

.delete__icon{
    width: 1.5rem;
    height:1.5rem;
    cursor: pointer;
}

.edit__icon{
    width: 1.5rem;
    height:1.5rem;
    cursor: pointer;
}

